.header{
    padding: 1rem 0 3rem;
}

.title{
    font-size: 3rem;
    text-decoration: none;
    color: black;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item{
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
    color: #999999;

    &:hover{
        color: #666666;
    }
}

.active-nav-item {
    color: #333333 ;
}
